@*//VS jQuery Docs, used only for design time *@
@if (false)
{
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}   

@model Suncor.LessonsLearnedMP.Web.ViewData.Shared.LeftRightListViewdata
           
@using Suncor.LessonsLearnedMP.Web.Common;
@using Suncor.LessonsLearnedMP.Framework
@using Suncor.LessonsLearnedMP.Web.Helpers

<div class="lr-list-container clearfix">
    <div class="lr-list-labels">
        <span class="lr-list-left-label">@Model.LeftLabel</span>
        <span class="lr-list-right-label">@Model.RightLabel</span>
    </div>

    <div class="lr-list-lists">
        @if (Model.AllowSorting)
        {
            <div class="lr-list-left-outer-button ui-widget ui-state-default ui-corner-all">
                <ul>
                    <li id="@Html.Raw(Model.LeftId)__MoveUpLeft" title="Move Item Up" class="button-top"><span class="web-sprite sprite-arrow-090 clickable"></span></li>
                    <li id="@Html.Raw(Model.LeftId)__MoveDownLeft" title="Move Item Down" class="button-bottom"><span class="web-sprite sprite-arrow-270 clickable"></span></li>
                </ul>
            </div>
        }

        @Html.ListBox(Model.LeftName, Model.LeftList, new { @class = "lr-list-left-list ui-widget ui-state-default ui-corner-all" })

        <div class="lr-list-middle-button ui-widget ui-state-default ui-corner-all">
            <ul>
                <li id="@Html.Raw(Model.LeftId)__CopyAllRight" title="@Model.RightTitle All" class="button-top"><span class="web-sprite sprite-control-double clickable"></span></li>
                <li id="@Html.Raw(Model.LeftId)__CopyRight" title="@Model.RightTitle Selected Item" class="button-mid-top"><span class="web-sprite sprite-arrow clickable"></span></li>
                <li id="@Html.Raw(Model.LeftId)__CopyLeft" title="@Model.LeftTitle Selected Item" class="button-mid-buttom"><span class="web-sprite sprite-arrow-180 clickable"></span></li>
                <li id="@Html.Raw(Model.LeftId)__CopyAllLeft" title="@Model.LeftTitle All" class="button-bottom"><span class="web-sprite sprite-control-double-180 clickable"></span></li>
            </ul>
        </div>

        @Html.ListBox(Model.RightName, Model.RightList, new { @class = "lr-list-right-list ui-widget ui-state-default ui-corner-all" })

        @if (Model.AllowSorting)
        {
            <div class="lr-list-right-outer-button ui-widget ui-state-default ui-corner-all">
                <ul>
                    <li id="@Html.Raw(Model.LeftId)__MoveUpRight" title="Move Item Up" class="button-top"><span class="web-sprite sprite-arrow-090 clickable"></span></li>
                    <li id="@Html.Raw(Model.LeftId)__MoveDownRight" title="Move Item Down" class="button-bottom"><span class="web-sprite sprite-arrow-270 clickable"></span></li>
                </ul>
            </div>
        }
    </div>
</div>

<div style="clear:both"></div>

<script type="text/javascript">$(function () {InitializeLeftRightList("@Model.LeftId", "@Model.RightId");});</script>
